Repository UPB-PMRust/website, pull requests merged in 2025-05, with the labels that each got.

#2 Move the website to the GitHub repository
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/deploy.yml
  .github/workflows/test-deploy.yml
  gitlab-deploy.yml
  website/docusaurus.config.ts
Labels: workflow

#5 renamed to my actual name
  website/versioned_docs/version-fils_en/project/2025/fatemehsadat/Schematic.webp
  website/versioned_docs/version-fils_en/project/2025/fatemehsadat/index.md
Labels: fils_en, website, project

#12 hussein.mokhadder project
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/Architecture.svg
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/Hardware design.svg
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/index.md
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/projectphoto1.svg
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/projectphoto2.svg
  website/versioned_docs/version-fils_en/project/2025/mokhadder.hussein/projectphoto3.svg
Labels: fils_en, website, project

#10 Documentatie proiect
  website/versioned_docs/version-fils_en/project/2025/eduard.purcarescu/diagram.webp
  website/versioned_docs/version-fils_en/project/2025/eduard.purcarescu/index.md
  website/versioned_docs/version-fils_en/project/2025/eduard.purcarescu/kicad.webp
Labels: fils_en, website, project

#11 Added initial Documentation Milestone
  website/versioned_docs/version-fils_en/project/2025/razvan.beldie/Diagram.webp
  website/versioned_docs/version-fils_en/project/2025/razvan.beldie/index.md
Labels: fils_en, website, project

#15 Documentation milestone push request May 10th 2025
  website/versioned_docs/version-fils_en/project/2025/ionut.ionescu0810/index.md
Labels: fils_en, website, project

#17 RustScape: Added Week 5-11 Progresslog, as well as an initial schematic in KiCAD
  website/versioned_docs/version-fils_en/project/2025/mihnea.girbacica/RustScape.svg
  website/versioned_docs/version-fils_en/project/2025/mihnea.girbacica/index.md
  website/versioned_docs/version-fils_en/project/2025/mihnea.girbacica/rustscape-photo-1.webp
  website/versioned_docs/version-fils_en/project/2025/mihnea.girbacica/rustscape-photo-2.webp
Labels: fils_en, website, project

#174 ....
  website/versioned_docs/version-fils_en/project/2025/teodora.glavan/Tema.svg
  website/versioned_docs/version-fils_en/project/2025/teodora.glavan/index.md
  website/versioned_docs/version-fils_en/project/2025/teodora.glavan/poza1_5856942353917528793_y.webp
  website/versioned_docs/version-fils_en/project/2025/teodora.glavan/poza2_5856942353917528790_y.webp
  website/versioned_docs/version-fils_en/project/2025/teodora.glavan/poza3_5856942353917528792_y.webp
  website/versioned_docs/version-fils_en/project/2025/teodora.glavan/poza4_5856942353917528794_y.webp
  website/versioned_docs/version-fils_en/project/2025/teodora.glavan/poza5_5856942353917528791_y.webp
Labels: fils_en, website, project

#79 Project/cristian.branet
  website/versioned_docs/version-fils_en/project/2025/cristian.branet/display.webp
  website/versioned_docs/version-fils_en/project/2025/cristian.branet/done.webp
  website/versioned_docs/version-fils_en/project/2025/cristian.branet/done2.webp
  website/versioned_docs/version-fils_en/project/2025/cristian.branet/done3.webp
  website/versioned_docs/version-fils_en/project/2025/cristian.branet/index.md
  website/versioned_docs/version-fils_en/project/2025/cristian.branet/ir.webp
  website/versioned_docs/version-fils_en/project/2025/cristian.branet/kicad.svg
  website/versioned_docs/version-fils_en/project/2025/cristian.branet/kicad.webp
  website/versioned_docs/version-fils_en/project/2025/cristian.branet/main.webp
Labels: fils_en, website, project

#84 Hardware Milestone commit
  website/versioned_docs/version-fils_en/project/2025/ioana_denisa.dudui/im1.webp
  website/versioned_docs/version-fils_en/project/2025/ioana_denisa.dudui/im2.webp
  website/versioned_docs/version-fils_en/project/2025/ioana_denisa.dudui/im3.webp
  website/versioned_docs/version-fils_en/project/2025/ioana_denisa.dudui/imagine.svg
  website/versioned_docs/version-fils_en/project/2025/ioana_denisa.dudui/img.svg
  website/versioned_docs/version-fils_en/project/2025/ioana_denisa.dudui/index.md
  website/versioned_docs/version-fils_en/project/2025/ioana_denisa.dudui/kicad.svg
Labels: fils_en, website, project

#156 Hardware Milestone Ghita Alexandru-Catalin 1222A, FILS, self parking car
  website/versioned_docs/version-fils_en/project/2025/alexandru.ghita2703/assets/KicadSchemev2.webp
  website/versioned_docs/version-fils_en/project/2025/alexandru.ghita2703/assets/hardware1.webp
  website/versioned_docs/version-fils_en/project/2025/alexandru.ghita2703/assets/hardware2.webp
  website/versioned_docs/version-fils_en/project/2025/alexandru.ghita2703/assets/kicadscheme.svg
  website/versioned_docs/version-fils_en/project/2025/alexandru.ghita2703/index.md
Labels: fils_en, website, project

#167 Added Hardware milestone
  website/versioned_docs/version-fils_en/project/2025/irina.chiorean/Whack_a_Mole_KiCad_Schematic.svg
  website/versioned_docs/version-fils_en/project/2025/irina.chiorean/Whack_a_Mole_KiCad_Schematic.webp
  website/versioned_docs/version-fils_en/project/2025/irina.chiorean/index.md
  website/versioned_docs/version-fils_en/project/2025/irina.chiorean/whack_a_mole_leds.webp
  website/versioned_docs/version-fils_en/project/2025/irina.chiorean/whack_a_mole_motors.webp
Labels: fils_en, website, project

#31 updated documentation, changed leds
  website/versioned_docs/version-fils_en/project/2025/miruna_teodora.stoean/diagram.webp
  website/versioned_docs/version-fils_en/project/2025/miruna_teodora.stoean/diagram_good.webp
  website/versioned_docs/version-fils_en/project/2025/miruna_teodora.stoean/index.md
  website/versioned_docs/version-fils_en/project/2025/miruna_teodora.stoean/kicad.webp
  website/versioned_docs/version-fils_en/project/2025/miruna_teodora.stoean/kicad_resized.svg
  website/versioned_docs/version-fils_en/project/2025/miruna_teodora.stoean/poza1_hardware.webp
  website/versioned_docs/version-fils_en/project/2025/miruna_teodora.stoean/poza2_hardware.webp
  website/versioned_docs/version-fils_en/project/2025/miruna_teodora.stoean/poza_proiect.webp
  website/versioned_docs/version-fils_en/project/2025/miruna_teodora.stoean/poza_proiect_resize.webp
Labels: fils_en, website, project

#19 Week1 Update
  website/versioned_docs/version-acs_cc/project/2025/andrei.braniste/Scheme_EmotiBuddy.svg
  website/versioned_docs/version-acs_cc/project/2025/andrei.braniste/Scheme_EmotiBuddy.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.braniste/Week1-v1.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.braniste/Week1-v2.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.braniste/Week2-v1.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.braniste/index.md
Labels: acs_cc, website, project

#26 Hardware milestone
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/demo1.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/demo2.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/demo3.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/demo4.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/demo5.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/index.md
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/photo_KiCad.svg
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/photo_KiCad.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/site1.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/site2.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/site3.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.ciucan/site4.webp
Labels: acs_cc, website, project

#36 Project/carla maria.rusu
  website/versioned_docs/version-acs_cc/project/2025/carla_maria.rusu/Audio_Player.svg
  website/versioned_docs/version-acs_cc/project/2025/carla_maria.rusu/index.md
  website/versioned_docs/version-acs_cc/project/2025/carla_maria.rusu/photo_hardware_deadline.webp
Labels: acs_cc, website, project

#74 Documentation week2 update
  website/versioned_docs/version-fils_en/project/2025/matei.bejinaru/Diagram.webp
  website/versioned_docs/version-fils_en/project/2025/matei.bejinaru/KiCadSchematic.svg
  website/versioned_docs/version-fils_en/project/2025/matei.bejinaru/Week2.webp
  website/versioned_docs/version-fils_en/project/2025/matei.bejinaru/index.md
Labels: fils_en, website, project

#60 Project/luana.militaru
  website/versioned_docs/version-fils_en/project/2025/luana.militaru/KiCad.svg
  website/versioned_docs/version-fils_en/project/2025/luana.militaru/KiCad.webp
  website/versioned_docs/version-fils_en/project/2025/luana.militaru/index.md
Labels: fils_en, website, project

#70 Hardware changes and log for documentation
  website/versioned_docs/version-fils_en/project/2025/emanoil_florian_sinisha.popescu/Car-above-hardware.webp
  website/versioned_docs/version-fils_en/project/2025/emanoil_florian_sinisha.popescu/Car-redesign.webp
  website/versioned_docs/version-fils_en/project/2025/emanoil_florian_sinisha.popescu/Controller-hardware.webp
  website/versioned_docs/version-fils_en/project/2025/emanoil_florian_sinisha.popescu/Controller-redesign.webp
  website/versioned_docs/version-fils_en/project/2025/emanoil_florian_sinisha.popescu/Controller.svg
  website/versioned_docs/version-fils_en/project/2025/emanoil_florian_sinisha.popescu/car-fron-hardware.webp
  website/versioned_docs/version-fils_en/project/2025/emanoil_florian_sinisha.popescu/index.md
  website/versioned_docs/version-fils_en/project/2025/emanoil_florian_sinisha.popescu/kicad-circ.svg
Labels: fils_en, website, project

#106 Project/adragomir2806
  website/versioned_docs/version-fils_en/project/2025/adragomir2806/AMPdiagrama3.webp
  website/versioned_docs/version-fils_en/project/2025/adragomir2806/AMPdiagramaFINAL.webp
  website/versioned_docs/version-fils_en/project/2025/adragomir2806/Hardware3.webp
  website/versioned_docs/version-fils_en/project/2025/adragomir2806/Hardware4.webp
  website/versioned_docs/version-fils_en/project/2025/adragomir2806/KiCADscheme.webp
  website/versioned_docs/version-fils_en/project/2025/adragomir2806/KicadSchemeGood.svg
  website/versioned_docs/version-fils_en/project/2025/adragomir2806/index.md
Labels: fils_en, website, project

#107 Hardware Documentation
  website/versioned_docs/version-fils_en/project/2025/walid.aliwi/ArchitectureFinal.webp
  website/versioned_docs/version-fils_en/project/2025/walid.aliwi/AssembledCNC_with_bgc.webp
  website/versioned_docs/version-fils_en/project/2025/walid.aliwi/Circuit.svg
  website/versioned_docs/version-fils_en/project/2025/walid.aliwi/hardwarepic.webp
  website/versioned_docs/version-fils_en/project/2025/walid.aliwi/image-1.webp
  website/versioned_docs/version-fils_en/project/2025/walid.aliwi/image-2.webp
  website/versioned_docs/version-fils_en/project/2025/walid.aliwi/image-4.webp
  website/versioned_docs/version-fils_en/project/2025/walid.aliwi/index.md
Labels: fils_en, website, project

#50 Project/rares mihai.tone
  website/versioned_docs/version-fils_en/project/2025/rares_mihai.tone/SmartWeatherStation.svg
  website/versioned_docs/version-fils_en/project/2025/rares_mihai.tone/comp_diagram.webp
  website/versioned_docs/version-fils_en/project/2025/rares_mihai.tone/hardware1.webp
  website/versioned_docs/version-fils_en/project/2025/rares_mihai.tone/hardware2.webp
  website/versioned_docs/version-fils_en/project/2025/rares_mihai.tone/index.md
Labels: fils_en, website, project

#86 Added Kicad and Hardware photos
  website/versioned_docs/version-acs_cc/project/2025/ana_maria.bogdan/index.md
  website/versioned_docs/version-acs_cc/project/2025/ana_maria.bogdan/kicad_proj.svg
  website/versioned_docs/version-acs_cc/project/2025/ana_maria.bogdan/projectPMhardware1.webp
  website/versioned_docs/version-acs_cc/project/2025/ana_maria.bogdan/projectPMhardware2.webp
  website/versioned_docs/version-acs_cc/project/2025/ana_maria.bogdan/projectPMhardware3.webp
Labels: acs_cc, website, project

#136 update documentation
  website/versioned_docs/version-fils_en/project/2025/mario.pastor/assets/kicad_schematic.svg
  website/versioned_docs/version-fils_en/project/2025/mario.pastor/assets/kicad_schematic.webp
  website/versioned_docs/version-fils_en/project/2025/mario.pastor/assets/week11_update.webp
  website/versioned_docs/version-fils_en/project/2025/mario.pastor/assets/week12_update.webp
  website/versioned_docs/version-fils_en/project/2025/mario.pastor/index.md
Labels: fils_en, website, project

#127 Beyond 2048 - Hardware Milestone
  website/versioned_docs/version-acs_cc/project/2025/george.nenciu/1.webp
  website/versioned_docs/version-acs_cc/project/2025/george.nenciu/2.webp
  website/versioned_docs/version-acs_cc/project/2025/george.nenciu/3.webp
  website/versioned_docs/version-acs_cc/project/2025/george.nenciu/4.webp
  website/versioned_docs/version-acs_cc/project/2025/george.nenciu/beyond_2048.svg
  website/versioned_docs/version-acs_cc/project/2025/george.nenciu/index.md
Labels: acs_cc, website, project

#126 Added final hardware documentation.
  website/versioned_docs/version-acs_cc/project/2025/andrei.cirstescu/architecture.svg
  website/versioned_docs/version-acs_cc/project/2025/andrei.cirstescu/architecture.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.cirstescu/device_picture1.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.cirstescu/device_picture2.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.cirstescu/device_picture3.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.cirstescu/index.md
  website/versioned_docs/version-acs_cc/project/2025/andrei.cirstescu/schematic.svg
Labels: acs_cc, website, project

#130 Hardware updates
  website/versioned_docs/version-acs_cc/project/2025/madalina.andronache/index.md
  website/versioned_docs/version-acs_cc/project/2025/madalina.andronache/pm1.webp
  website/versioned_docs/version-acs_cc/project/2025/madalina.andronache/pm2.webp
  website/versioned_docs/version-acs_cc/project/2025/madalina.andronache/pm3.webp
  website/versioned_docs/version-acs_cc/project/2025/madalina.andronache/schematics.svg
Labels: acs_cc, website, project

#124 Smart-Parking-Lot
  website/versioned_docs/version-fils_en/project/2025/zeinalabdin_issa/KiSchematic.webp
  website/versioned_docs/version-fils_en/project/2025/zeinalabdin_issa/Kischematic.svg
  website/versioned_docs/version-fils_en/project/2025/zeinalabdin_issa/image1.webp
  website/versioned_docs/version-fils_en/project/2025/zeinalabdin_issa/image2.webp
  website/versioned_docs/version-fils_en/project/2025/zeinalabdin_issa/image3.webp
  website/versioned_docs/version-fils_en/project/2025/zeinalabdin_issa/index.md
Labels: fils_en, website, project

#77 Project/andrei.neagu1910
  website/versioned_docs/version-fils_en/project/2025/andrei.neagu1910/images/Central.svg
  website/versioned_docs/version-fils_en/project/2025/andrei.neagu1910/images/ESP.svg
  website/versioned_docs/version-fils_en/project/2025/andrei.neagu1910/images/Remote.svg
  website/versioned_docs/version-fils_en/project/2025/andrei.neagu1910/images/esp32-s3.webp
  website/versioned_docs/version-fils_en/project/2025/andrei.neagu1910/images/overview1.webp
  website/versioned_docs/version-fils_en/project/2025/andrei.neagu1910/images/overview2.webp
  website/versioned_docs/version-fils_en/project/2025/andrei.neagu1910/images/remote_ap.webp
  website/versioned_docs/version-fils_en/project/2025/andrei.neagu1910/index.md
Labels: fils_en, website, project

#294 project/petru.nania: Finalize hardware details about the project
  website/versioned_docs/version-acs_cc/project/2025/petru.nania/assets/hardware.webp
  website/versioned_docs/version-acs_cc/project/2025/petru.nania/assets/rusty-musician-schem.svg
  website/versioned_docs/version-acs_cc/project/2025/petru.nania/index.md
Labels: acs_cc, website, project

#140 I updated the kicad schematic, added the harware photo and the logs …
  website/versioned_docs/version-fils_en/project/2025/alexandru_vlad.ivan/Hardware.webp
  website/versioned_docs/version-fils_en/project/2025/alexandru_vlad.ivan/KiCad-Schematic.webp
  website/versioned_docs/version-fils_en/project/2025/alexandru_vlad.ivan/Schematic.svg
  website/versioned_docs/version-fils_en/project/2025/alexandru_vlad.ivan/index.md
Labels: fils_en, website, project

#63 Project/ionut.pruteanu2308
  website/versioned_docs/version-fils_en/project/2025/ionut.pruteanu2308/3D-model.webp
  website/versioned_docs/version-fils_en/project/2025/ionut.pruteanu2308/MA_project_schematics.webp
  website/versioned_docs/version-fils_en/project/2025/ionut.pruteanu2308/hardware_proj.webp
  website/versioned_docs/version-fils_en/project/2025/ionut.pruteanu2308/index.md
  website/versioned_docs/version-fils_en/project/2025/ionut.pruteanu2308/project-kicad-scheme1.webp
  website/versioned_docs/version-fils_en/project/2025/ionut.pruteanu2308/project_kicad1.svg
  website/versioned_docs/version-fils_en/project/2025/ionut.pruteanu2308/project_kicad2.svg
  website/versioned_docs/version-fils_en/project/2025/ionut.pruteanu2308/slots_machine_front.webp
  website/versioned_docs/version-fils_en/project/2025/ionut.pruteanu2308/slots_machine_hardware.webp
Labels: fils_en, website, project

#150 Project/daria.gladkykh
  website/versioned_docs/version-fils_en/project/2025/daria.gladkykh/hardware_ph.webp
  website/versioned_docs/version-fils_en/project/2025/daria.gladkykh/index.md
Labels: fils_en, website, project

#83 Hardware Milestone commit
  website/versioned_docs/version-fils_en/project/2025/bianca_elena.tudor/imagine.svg
  website/versioned_docs/version-fils_en/project/2025/bianca_elena.tudor/img2.svg
  website/versioned_docs/version-fils_en/project/2025/bianca_elena.tudor/imgp1.webp
  website/versioned_docs/version-fils_en/project/2025/bianca_elena.tudor/imgp2.webp
  website/versioned_docs/version-fils_en/project/2025/bianca_elena.tudor/imgp3.webp
  website/versioned_docs/version-fils_en/project/2025/bianca_elena.tudor/index.md
  website/versioned_docs/version-fils_en/project/2025/bianca_elena.tudor/kicad1.svg
Labels: fils_en, website, project

#143 Project/diana.chelaru1003
  website/versioned_docs/version-acs_cc/project/2025/diana.chelaru1003/Poza1.webp
  website/versioned_docs/version-acs_cc/project/2025/diana.chelaru1003/Poza2.webp
  website/versioned_docs/version-acs_cc/project/2025/diana.chelaru1003/Poza3.webp
  website/versioned_docs/version-acs_cc/project/2025/diana.chelaru1003/Schematic.svg
  website/versioned_docs/version-acs_cc/project/2025/diana.chelaru1003/Schematic.webp
  website/versioned_docs/version-acs_cc/project/2025/diana.chelaru1003/index.md
Labels: acs_cc, website, project

#289 Project/ana.adascalitei
  website/versioned_docs/version-fils_en/project/2025/ana.adascalitei/index.md
  website/versioned_docs/version-fils_en/project/2025/ana.adascalitei/part1_hardware.webp
  website/versioned_docs/version-fils_en/project/2025/ana.adascalitei/part2_hardware.webp
  website/versioned_docs/version-fils_en/project/2025/ana.adascalitei/part3_hardware.webp
Labels: fils_en, website, project

#39 project/yahia.elastal Hardware Milestone
  website/versioned_docs/version-fils_en/project/2025/yahia.elastal/Cardboard.webp
  website/versioned_docs/version-fils_en/project/2025/yahia.elastal/Final_sideview.webp
  website/versioned_docs/version-fils_en/project/2025/yahia.elastal/Final_topview.webp
  website/versioned_docs/version-fils_en/project/2025/yahia.elastal/Schematic.svg
  website/versioned_docs/version-fils_en/project/2025/yahia.elastal/index.md
  website/versioned_docs/version-fils_en/project/2025/yahia.elastal/wiring.webp
Labels: fils_en, website, project

#61 Hardware
  website/versioned_docs/version-fils_en/project/2025/andrei.andreescu/index.md
  website/versioned_docs/version-fils_en/project/2025/andrei.andreescu/poza1.webp
  website/versioned_docs/version-fils_en/project/2025/andrei.andreescu/poza2.webp
Labels: fils_en, website, project

#78 project/razvan.costea2205
  website/versioned_docs/version-acs_cc/project/2025/razvan.costea2205/above.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.costea2205/closeup.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.costea2205/index.md
  website/versioned_docs/version-acs_cc/project/2025/razvan.costea2205/other.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.costea2205/side.webp
Labels: acs_cc, website, project

#72 Project/alexia.cosac
  website/versioned_docs/version-fils_en/project/2025/alexia.cosac/KiCad2.svg
  website/versioned_docs/version-fils_en/project/2025/alexia.cosac/Project1.webp
  website/versioned_docs/version-fils_en/project/2025/alexia.cosac/Project2.webp
  website/versioned_docs/version-fils_en/project/2025/alexia.cosac/Project3.webp
  website/versioned_docs/version-fils_en/project/2025/alexia.cosac/index.md
Labels: fils_en, website, project

#68 Hardware Milestone Pull Request:project/ionut.oprea0502
  website/versioned_docs/version-fils_en/project/2025/ionut.oprea0502/assets/1.webp
  website/versioned_docs/version-fils_en/project/2025/ionut.oprea0502/assets/2.webp
  website/versioned_docs/version-fils_en/project/2025/ionut.oprea0502/assets/3.webp
  website/versioned_docs/version-fils_en/project/2025/ionut.oprea0502/assets/4.webp
  website/versioned_docs/version-fils_en/project/2025/ionut.oprea0502/assets/5.webp
  website/versioned_docs/version-fils_en/project/2025/ionut.oprea0502/assets/architecture.svg
  website/versioned_docs/version-fils_en/project/2025/ionut.oprea0502/assets/kicad_schematic.svg
  website/versioned_docs/version-fils_en/project/2025/ionut.oprea0502/assets/uml.svg
  website/versioned_docs/version-fils_en/project/2025/ionut.oprea0502/index.md
Labels: fils_en, website, project

#67 Project/ioana.iordache0506
  website/versioned_docs/version-acs_cc/project/2025/ioana.iordache0506/entire_hw.webp
  website/versioned_docs/version-acs_cc/project/2025/ioana.iordache0506/index.md
  website/versioned_docs/version-acs_cc/project/2025/ioana.iordache0506/lcd_hw.webp
  website/versioned_docs/version-acs_cc/project/2025/ioana.iordache0506/mini_smart_home_schematic.svg
Labels: acs_cc, website, project

#185 Updated documentation - HW Milestone
  website/versioned_docs/version-acs_cc/project/2025/georgiana.ilie0803/Architecture.svg
  website/versioned_docs/version-acs_cc/project/2025/georgiana.ilie0803/Architecture.webp
  website/versioned_docs/version-acs_cc/project/2025/georgiana.ilie0803/Proiect_PM.svg
  website/versioned_docs/version-acs_cc/project/2025/georgiana.ilie0803/index.md
  website/versioned_docs/version-acs_cc/project/2025/georgiana.ilie0803/montaj.webp
  website/versioned_docs/version-acs_cc/project/2025/georgiana.ilie0803/montaj2.webp
  website/versioned_docs/version-acs_cc/project/2025/georgiana.ilie0803/schematic.webp
Labels: acs_cc, website, project

#120 Project Documentation
  website/versioned_docs/version-fils_en/project/2025/filip_ioan.niculae/1.webp
  website/versioned_docs/version-fils_en/project/2025/filip_ioan.niculae/2.webp
  website/versioned_docs/version-fils_en/project/2025/filip_ioan.niculae/3.webp
  website/versioned_docs/version-fils_en/project/2025/filip_ioan.niculae/4.webp
  website/versioned_docs/version-fils_en/project/2025/filip_ioan.niculae/KiCad.svg
  website/versioned_docs/version-fils_en/project/2025/filip_ioan.niculae/index.md
Labels: fils_en, website, project

#119 Project/nicoleta.bumbacea
  website/versioned_docs/version-fils_en/project/2025/nicoleta.bumbacea/imghardware.webp
  website/versioned_docs/version-fils_en/project/2025/nicoleta.bumbacea/index.md
  website/versioned_docs/version-fils_en/project/2025/nicoleta.bumbacea/kicad_schematic.svg
  website/versioned_docs/version-fils_en/project/2025/nicoleta.bumbacea/kicadschematic.webp
Labels: fils_en, website, project

#118 Project/maria.vasilca
  website/versioned_docs/version-fils_en/project/2025/maria.vasilca/KiCadLineFollower.svg
  website/versioned_docs/version-fils_en/project/2025/maria.vasilca/ROBOT1.webp
  website/versioned_docs/version-fils_en/project/2025/maria.vasilca/ROBOT2.webp
  website/versioned_docs/version-fils_en/project/2025/maria.vasilca/Schematics.webp
  website/versioned_docs/version-fils_en/project/2025/maria.vasilca/index.md
Labels: fils_en, website, project

#153 Corina Mihon updates
  website/versioned_docs/version-fils_en/project/2025/corina.mihon/Poza.webp
  website/versioned_docs/version-fils_en/project/2025/corina.mihon/index.md
  website/versioned_docs/version-fils_en/project/2025/corina.mihon/schemafinalkicad.svg
Labels: fils_en, website, project

#162 I added project photos and updated the timeline log
  website/versioned_docs/version-acs_cc/project/2025/antonio.carazeanu/index.md
  website/versioned_docs/version-acs_cc/project/2025/antonio.carazeanu/kicad.svg
  website/versioned_docs/version-acs_cc/project/2025/antonio.carazeanu/leduri.webp
  website/versioned_docs/version-acs_cc/project/2025/antonio.carazeanu/poza1.webp
  website/versioned_docs/version-acs_cc/project/2025/antonio.carazeanu/poza2.webp
  website/versioned_docs/version-acs_cc/project/2025/antonio.carazeanu/poza3.webp
  website/versioned_docs/version-acs_cc/project/2025/antonio.carazeanu/poza4.webp
Labels: acs_cc, website, project

#149 Hardware
  website/versioned_docs/version-acs_cc/project/2025/rares_mihail.clinci/CatFeeder.webp
  website/versioned_docs/version-acs_cc/project/2025/rares_mihail.clinci/circuit.webp
  website/versioned_docs/version-acs_cc/project/2025/rares_mihail.clinci/index.md
Labels: acs_cc, website, project

#148 Project/petre.namoianu
  website/versioned_docs/version-acs_cc/project/2025/petre.namoianu/hardware.webp
  website/versioned_docs/version-acs_cc/project/2025/petre.namoianu/index.md
  website/versioned_docs/version-acs_cc/project/2025/petre.namoianu/kicad.svg
Labels: acs_cc, website, project

#114 moving to GitHub (+update)
  website/versioned_docs/version-fils_en/project/2025/delia_alexa.dragan/KiCAD.webp
  website/versioned_docs/version-fils_en/project/2025/delia_alexa.dragan/hardware0.webp
  website/versioned_docs/version-fils_en/project/2025/delia_alexa.dragan/hardware1.webp
  website/versioned_docs/version-fils_en/project/2025/delia_alexa.dragan/index.md
  website/versioned_docs/version-fils_en/project/2025/delia_alexa.dragan/kicad.svg
Labels: fils_en, website, project

#184 project/ana_maria.duminica
  website/versioned_docs/version-acs_cc/project/2025/ana_maria.duminica/DIAGRAMA2.webp
  website/versioned_docs/version-acs_cc/project/2025/ana_maria.duminica/hardware_1.webp
  website/versioned_docs/version-acs_cc/project/2025/ana_maria.duminica/hardware_2.webp
  website/versioned_docs/version-acs_cc/project/2025/ana_maria.duminica/index.md
  website/versioned_docs/version-acs_cc/project/2025/ana_maria.duminica/pm_diagrama_finala.webp
  website/versioned_docs/version-acs_cc/project/2025/ana_maria.duminica/pm_project_kicad.svg
Labels: acs_cc, website, project

#165 project/andreia.toaca
  website/versioned_docs/version-acs_cc/project/2025/andreia.toaca/image1.webp
  website/versioned_docs/version-acs_cc/project/2025/andreia.toaca/image2.webp
  website/versioned_docs/version-acs_cc/project/2025/andreia.toaca/image3.webp
  website/versioned_docs/version-acs_cc/project/2025/andreia.toaca/index.md
  website/versioned_docs/version-acs_cc/project/2025/andreia.toaca/project_schematics.svg
Labels: acs_cc, website, project

#103 Update schematic and add pictures
  website/versioned_docs/version-acs_cc/project/2025/npopa/buttons.webp
  website/versioned_docs/version-acs_cc/project/2025/npopa/cratedigger_schematic.svg
  website/versioned_docs/version-acs_cc/project/2025/npopa/cratedigger_schematic.webp
  website/versioned_docs/version-acs_cc/project/2025/npopa/index.md
  website/versioned_docs/version-acs_cc/project/2025/npopa/overview.webp
  website/versioned_docs/version-acs_cc/project/2025/npopa/screen_and_dac.webp
Labels: acs_cc, website, project

#178 Project/adrian.bitlan
  website/versioned_docs/version-fils_en/project/2025/adrian.bitlan/Centru_sus.webp
  website/versioned_docs/version-fils_en/project/2025/adrian.bitlan/KiCad_Scheme.webp
  website/versioned_docs/version-fils_en/project/2025/adrian.bitlan/Lateral_dreapta.webp
  website/versioned_docs/version-fils_en/project/2025/adrian.bitlan/Lateral_stanga.webp
  website/versioned_docs/version-fils_en/project/2025/adrian.bitlan/Schema_Kicad.svg
  website/versioned_docs/version-fils_en/project/2025/adrian.bitlan/index.md
Labels: fils_en, website, project

#220 Hardware Milestone Salavastru Andrei
  website/versioned_docs/version-fils_en/project/2025/andrei.salavastru/KiCad.svg
  website/versioned_docs/version-fils_en/project/2025/andrei.salavastru/Schematics.webp
  website/versioned_docs/version-fils_en/project/2025/andrei.salavastru/car.webp
  website/versioned_docs/version-fils_en/project/2025/andrei.salavastru/index.md
Labels: fils_en, website, project

#212 hardware1
  website/versioned_docs/version-acs_cc/project/2025/alexandru.buiac/image.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandru.buiac/index.md
  website/versioned_docs/version-acs_cc/project/2025/alexandru.buiac/sch.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandru.buiac/schematic.svg
Labels: acs_cc, website, project

#205 Finished the hardware deadline tasks.
  website/versioned_docs/version-acs_cc/project/2025/alexandru.samson/KiCad.svg
  website/versioned_docs/version-acs_cc/project/2025/alexandru.samson/hardware1.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandru.samson/hardware2.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandru.samson/hardware3.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandru.samson/index.md
Labels: acs_cc, website, project

#204 project
  package-lock.json
  website/versioned_docs/version-acs_cc/project/2025/gabriela.logofatu/Pico_project.svg
  website/versioned_docs/version-acs_cc/project/2025/gabriela.logofatu/hardware.webp
  website/versioned_docs/version-acs_cc/project/2025/gabriela.logofatu/index.md
Labels: acs_cc, website, project

#249 Add hardware details
  website/versioned_docs/version-acs_cc/project/2025/vlad.grigore2503/images/hardware.webp
  website/versioned_docs/version-acs_cc/project/2025/vlad.grigore2503/images/kicad.svg
  website/versioned_docs/version-acs_cc/project/2025/vlad.grigore2503/index.md
Labels: acs_cc, website, project

#173 Project/laurentiu.stavar
  website/versioned_docs/version-acs_cc/project/2025/laurentiu.stavar/KiCad.svg
  website/versioned_docs/version-acs_cc/project/2025/laurentiu.stavar/KiCad.webp
  website/versioned_docs/version-acs_cc/project/2025/laurentiu.stavar/index.md
  website/versioned_docs/version-acs_cc/project/2025/laurentiu.stavar/photo1.webp
  website/versioned_docs/version-acs_cc/project/2025/laurentiu.stavar/photo2.webp
  website/versioned_docs/version-acs_cc/project/2025/laurentiu.stavar/photo3.webp
Labels: acs_cc, website, project

#248 Project/maria.ghibirdic-General-Smarwatch
  website/versioned_docs/version-fils_en/project/2025/maria.ghibirdic/index.md
  website/versioned_docs/version-fils_en/project/2025/maria.ghibirdic/smartwatch.svg
  website/versioned_docs/version-fils_en/project/2025/maria.ghibirdic/smartwatch_KiCad.webp
  website/versioned_docs/version-fils_en/project/2025/maria.ghibirdic/smartwath-circuit.webp
Labels: fils_en, website, project

#200 yelyzaveta.basiuk
  website/versioned_docs/version-fils_en/project/2025/yelyzaveta.basiuk/hardware1.webp
  website/versioned_docs/version-fils_en/project/2025/yelyzaveta.basiuk/index.md
  website/versioned_docs/version-fils_en/project/2025/yelyzaveta.basiuk/schematic.svg
  website/versioned_docs/version-fils_en/project/2025/yelyzaveta.basiuk/schematic.webp
Labels: fils_en, website, project

#237 Project/rares andrei.matei - added KiCad schematic and picture of the circuit
  website/versioned_docs/version-acs_cc/project/2025/rares_andrei.matei/architecture_pm.webp
  website/versioned_docs/version-acs_cc/project/2025/rares_andrei.matei/circuit.webp
  website/versioned_docs/version-acs_cc/project/2025/rares_andrei.matei/index.md
  website/versioned_docs/version-acs_cc/project/2025/rares_andrei.matei/schematic.svg
Labels: acs_cc, website, project

#171 Project/alexandra.diaconu03
  website/versioned_docs/version-acs_cc/project/2025/alexandra.diaconu03/2048.svg
  website/versioned_docs/version-acs_cc/project/2025/alexandra.diaconu03/index.md
  website/versioned_docs/version-acs_cc/project/2025/alexandra.diaconu03/schematic.svg
  website/versioned_docs/version-acs_cc/project/2025/alexandra.diaconu03/screen-front_resized.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandra.diaconu03/top-view_resized.webp
Labels: acs_cc, website, project

#236 hardware milestone
  website/versioned_docs/version-fils_en/project/2025/mihai.lazaroiu1402/index.md
  website/versioned_docs/version-fils_en/project/2025/mihai.lazaroiu1402/pictures/demo.webp
  website/versioned_docs/version-fils_en/project/2025/mihai.lazaroiu1402/pictures/hardware_schematic.svg
  website/versioned_docs/version-fils_en/project/2025/mihai.lazaroiu1402/pictures/hardware_schematic.webp
  website/versioned_docs/version-fils_en/project/2025/mihai.lazaroiu1402/pictures/sideview.webp
  website/versioned_docs/version-fils_en/project/2025/mihai.lazaroiu1402/pictures/topview.webp
Labels: fils_en, website, project

#196 Hardware Milestone
  website/versioned_docs/version-fils_en/project/2025/sebastian.pica/Project1.webp
  website/versioned_docs/version-fils_en/project/2025/sebastian.pica/Project2.webp
  website/versioned_docs/version-fils_en/project/2025/sebastian.pica/index.md
Labels: fils_en, website, project

#139 project/andrei.stan2605
  website/versioned_docs/version-acs_cc/project/2025/andrei.stan2605/index.md
  website/versioned_docs/version-acs_cc/project/2025/andrei.stan2605/pen_plotter_printing.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.stan2605/pen_plotter_sch.svg
  website/versioned_docs/version-acs_cc/project/2025/andrei.stan2605/pen_plotter_top.webp
Labels: acs_cc, website, project

#111 project/andrei_daniel.calu: Hardware Deadline + Corrected past mistakes + Added water pump (as suggested for complexity)
  website/versioned_docs/version-acs_cc/project/2025/andrei_daniel.calu/KiCad.svg
  website/versioned_docs/version-acs_cc/project/2025/andrei_daniel.calu/KiCad.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei_daniel.calu/architecture.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei_daniel.calu/index.md
  website/versioned_docs/version-acs_cc/project/2025/andrei_daniel.calu/photos/1.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei_daniel.calu/photos/2.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei_daniel.calu/photos/3.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei_daniel.calu/photos/4.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei_daniel.calu/photos/5.webp
Labels: acs_cc, website, project

#135 update documentation for Hardware Milestone
  website/versioned_docs/version-fils_en/project/2025/andrei.dumitrescu04/images/kicad-schema.svg
  website/versioned_docs/version-fils_en/project/2025/andrei.dumitrescu04/images/kicad.webp
  website/versioned_docs/version-fils_en/project/2025/andrei.dumitrescu04/images/progress2.webp
  website/versioned_docs/version-fils_en/project/2025/andrei.dumitrescu04/index.md
Labels: fils_en, website, project

#87 added photos
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/index.md
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/no1.svg
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/no1.webp
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/no2.svg
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/no2.webp
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/pic1.webp
  website/versioned_docs/version-acs_cc/project/2025/tmihallari/pic2.webp
Labels: acs_cc, website, project

#98 hardware milestone
  website/versioned_docs/version-fils_en/project/2025/adumitrache2306/front.webp
  website/versioned_docs/version-fils_en/project/2025/adumitrache2306/index.md
  website/versioned_docs/version-fils_en/project/2025/adumitrache2306/side.webp
Labels: fils_en, website, project

#62 Project/petru vlad.ionescu
  website/versioned_docs/version-acs_cc/project/2025/petru_vlad.ionescu/hardware-scheme.svg
  website/versioned_docs/version-acs_cc/project/2025/petru_vlad.ionescu/hw-pic1.webp
  website/versioned_docs/version-acs_cc/project/2025/petru_vlad.ionescu/hw-pic2.webp
  website/versioned_docs/version-acs_cc/project/2025/petru_vlad.ionescu/hw-pic3.webp
  website/versioned_docs/version-acs_cc/project/2025/petru_vlad.ionescu/hw-pic4.webp
  website/versioned_docs/version-acs_cc/project/2025/petru_vlad.ionescu/index.md
  website/versioned_docs/version-acs_cc/project/2025/petru_vlad.ionescu/kicad-scheme.svg
Labels: acs_cc, website, project

#268 Add hardware images and update project documentation
  website/versioned_docs/version-acs_cc/project/2025/dragos.fromea/diagram.webp
  website/versioned_docs/version-acs_cc/project/2025/dragos.fromea/hardware_image1.webp
  website/versioned_docs/version-acs_cc/project/2025/dragos.fromea/hardware_image2.webp
  website/versioned_docs/version-acs_cc/project/2025/dragos.fromea/index.md
  website/versioned_docs/version-acs_cc/project/2025/dragos.fromea/schematic.svg
Labels: acs_cc, website, project

#38 Hardware milestone
  website/versioned_docs/version-fils_en/project/2025/armin.shafiei/index.md
  website/versioned_docs/version-fils_en/project/2025/armin.shafiei/ph1.webp
  website/versioned_docs/version-fils_en/project/2025/armin.shafiei/ph2.webp
  website/versioned_docs/version-fils_en/project/2025/armin.shafiei/ph3.webp
  website/versioned_docs/version-fils_en/project/2025/armin.shafiei/schematic.svg
Labels: fils_en, website, project

#281 Hardware Milestone
  website/versioned_docs/version-fils_en/project/2025/ana_teodora.carjila/image2.webp
  website/versioned_docs/version-fils_en/project/2025/ana_teodora.carjila/index.md
Labels: fils_en, website, project

#286 Update schematic and log
  website/versioned_docs/version-acs_cc/project/2025/iulian.alexa/hardware.webp
  website/versioned_docs/version-acs_cc/project/2025/iulian.alexa/index.md
  website/versioned_docs/version-acs_cc/project/2025/iulian.alexa/kicad.webp
  website/versioned_docs/version-acs_cc/project/2025/iulian.alexa/schematic.svg
Labels: acs_cc, website, project

#284 Added mini demo youtube link
  website/versioned_docs/version-acs_cc/project/2025/andrei.oprisor/index.md
Labels: acs_cc, website, project

#257 project/matei.dragusin1103
  website/versioned_docs/version-acs_cc/project/2025/matei.dragusin1103/breadboard.webp
  website/versioned_docs/version-acs_cc/project/2025/matei.dragusin1103/dc_view.webp
  website/versioned_docs/version-acs_cc/project/2025/matei.dragusin1103/dealer_view.webp
  website/versioned_docs/version-acs_cc/project/2025/matei.dragusin1103/full_view.webp
  website/versioned_docs/version-acs_cc/project/2025/matei.dragusin1103/index.md
  website/versioned_docs/version-acs_cc/project/2025/matei.dragusin1103/proiect-PM.svg
  website/versioned_docs/version-acs_cc/project/2025/matei.dragusin1103/side_view.webp
Labels: acs_cc, website, project

#320 PR Fix for #120
  website/versioned_docs/version-fils_en/project/2025/filip_ioan.niculae/index.md
Labels: fils_en, website, project

#305 Updated paragraph and kicad schematic
  website/versioned_docs/version-fils_en/project/2025/mihai_cezar.tintareanu_mircea/Architecture.svg
  website/versioned_docs/version-fils_en/project/2025/mihai_cezar.tintareanu_mircea/Architecture2.webp
  website/versioned_docs/version-fils_en/project/2025/mihai_cezar.tintareanu_mircea/KiCad.webp
  website/versioned_docs/version-fils_en/project/2025/mihai_cezar.tintareanu_mircea/Kicad.svg
  website/versioned_docs/version-fils_en/project/2025/mihai_cezar.tintareanu_mircea/boardupdate1.webp
  website/versioned_docs/version-fils_en/project/2025/mihai_cezar.tintareanu_mircea/boardupdate2.webp
  website/versioned_docs/version-fils_en/project/2025/mihai_cezar.tintareanu_mircea/index.md
  website/versioned_docs/version-fils_en/project/2025/mihai_cezar.tintareanu_mircea/multiplexerupdate.webp
  website/versioned_docs/version-fils_en/project/2025/mihai_cezar.tintareanu_mircea/piecesandboard.webp
Labels: fils_en, website, project

#253 Added new weekly log, kicad svg schematic and a picture of the hardware
  website/versioned_docs/version-fils_en/project/2025/denis_iulian.pavel/boardhardware1.webp
  website/versioned_docs/version-fils_en/project/2025/denis_iulian.pavel/index.md
  website/versioned_docs/version-fils_en/project/2025/denis_iulian.pavel/picogame_therpg.svg
Labels: fils_en, website, project

#181 Finished the hardware milestone
  website/versioned_docs/version-fils_en/project/2025/ana_maria.batagoi/index.md
  website/versioned_docs/version-fils_en/project/2025/ana_maria.batagoi/kicad.svg
  website/versioned_docs/version-fils_en/project/2025/ana_maria.batagoi/poza_parte.webp
  website/versioned_docs/version-fils_en/project/2025/ana_maria.batagoi/poza_sus.webp
Labels: fils_en, website, project

#279 Hardware Milestone
  website/versioned_docs/version-acs_cc/project/2025/silvia.dumitru2403/hardware1.webp
  website/versioned_docs/version-acs_cc/project/2025/silvia.dumitru2403/hardware2.webp
  website/versioned_docs/version-acs_cc/project/2025/silvia.dumitru2403/index.md
  website/versioned_docs/version-acs_cc/project/2025/silvia.dumitru2403/schematics.svg
Labels: acs_cc, website, project

#254 Hardware Milestone
  website/versioned_docs/version-fils_en/project/2025/ioana.nedelcu1212/ProjectImg1.webp
  website/versioned_docs/version-fils_en/project/2025/ioana.nedelcu1212/index.md
  website/versioned_docs/version-fils_en/project/2025/ioana.nedelcu1212/rustProj.svg
Labels: fils_en, website, project

#272 hardware
  website/versioned_docs/version-acs_cc/project/2025/iulia_andreea.lovin/SmartPlantWateringSystem.svg
  website/versioned_docs/version-acs_cc/project/2025/iulia_andreea.lovin/hard1.webp
  website/versioned_docs/version-acs_cc/project/2025/iulia_andreea.lovin/hard2.webp
  website/versioned_docs/version-acs_cc/project/2025/iulia_andreea.lovin/hard3.webp
  website/versioned_docs/version-acs_cc/project/2025/iulia_andreea.lovin/index.md
Labels: acs_cc, website, project

#256 Hardware Milestone
  website/versioned_docs/version-fils_en/project/2025/miruna.macesanu/index.md
  website/versioned_docs/version-fils_en/project/2025/miruna.macesanu/scheme.svg
  website/versioned_docs/version-fils_en/project/2025/miruna.macesanu/week5.webp
Labels: fils_en, website, project

#265 Add files via upload
  website/versioned_docs/version-acs_cc/project/2025/andrei.armega/Imagine.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.armega/Lightsaber.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.armega/Schematic.svg
  website/versioned_docs/version-acs_cc/project/2025/andrei.armega/Schematic.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.armega/index.md
Labels: acs_cc, website, project

#271 project/gabriel.pitic
  website/versioned_docs/version-acs_cc/project/2025/gabriel.pitic/4Clash_Render.webp
  website/versioned_docs/version-acs_cc/project/2025/gabriel.pitic/Player_1.webp
  website/versioned_docs/version-acs_cc/project/2025/gabriel.pitic/Player_2.webp
  website/versioned_docs/version-acs_cc/project/2025/gabriel.pitic/Player_3.webp
  website/versioned_docs/version-acs_cc/project/2025/gabriel.pitic/Player_4.webp
  website/versioned_docs/version-acs_cc/project/2025/gabriel.pitic/index.md
Labels: acs_cc, website, project

#291 Added the KiCad scheme
  website/versioned_docs/version-fils_en/project/2025/mihai.turcu/KiCad.svg
  website/versioned_docs/version-fils_en/project/2025/mihai.turcu/index.md
Labels: fils_en, website, project

#263 Added logs and project pictures
  website/versioned_docs/version-acs_cc/project/2025/ioan_mario.nistor/index.md
  website/versioned_docs/version-acs_cc/project/2025/ioan_mario.nistor/mp3_player.svg
  website/versioned_docs/version-acs_cc/project/2025/ioan_mario.nistor/mp3_player_pic_1.webp
  website/versioned_docs/version-acs_cc/project/2025/ioan_mario.nistor/mp3_player_pic_2.webp
  website/versioned_docs/version-acs_cc/project/2025/ioan_mario.nistor/proiect_pm.svg
Labels: acs_cc, website, project

#295 Project/andrei.androne
  website/versioned_docs/version-acs_cc/project/2025/andrei.androne/KiCad.svg
  website/versioned_docs/version-acs_cc/project/2025/andrei.androne/Work1.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.androne/index.md
Labels: acs_cc, website, project

#235 Hardware Milestone
  website/versioned_docs/version-acs_cc/project/2025/david.dobrinoiu/Diag_arh.svg
  website/versioned_docs/version-acs_cc/project/2025/david.dobrinoiu/Diag_func.svg
  website/versioned_docs/version-acs_cc/project/2025/david.dobrinoiu/Poza1.webp
  website/versioned_docs/version-acs_cc/project/2025/david.dobrinoiu/Poza2.webp
  website/versioned_docs/version-acs_cc/project/2025/david.dobrinoiu/Poza3.webp
  website/versioned_docs/version-acs_cc/project/2025/david.dobrinoiu/Poza4.webp
  website/versioned_docs/version-acs_cc/project/2025/david.dobrinoiu/Schematic.svg
  website/versioned_docs/version-acs_cc/project/2025/david.dobrinoiu/index.md
Labels: acs_cc, website, project

#260 Project/daniel.ion2602
  website/versioned_docs/version-acs_cc/project/2025/daniel.ion2602/images/photo_down.webp
  website/versioned_docs/version-acs_cc/project/2025/daniel.ion2602/images/photo_high.webp
  website/versioned_docs/version-acs_cc/project/2025/daniel.ion2602/images/spongebot_arch.webp
  website/versioned_docs/version-acs_cc/project/2025/daniel.ion2602/images/spongebot_kicad.svg
  website/versioned_docs/version-acs_cc/project/2025/daniel.ion2602/index.md
Labels: acs_cc, website, project

#247 Hardware
  website/versioned_docs/version-acs_cc/project/2025/andrei.girleanu/hardware.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.girleanu/index.md
  website/versioned_docs/version-acs_cc/project/2025/andrei.girleanu/schematics.svg
  website/versioned_docs/version-acs_cc/project/2025/andrei.girleanu/schematics.webp
Labels: acs_cc, website, project

#244 Hardware
  website/versioned_docs/version-fils_en/project/2025/sarah.simion/index.md
  website/versioned_docs/version-fils_en/project/2025/sarah.simion/pic3.webp
  website/versioned_docs/version-fils_en/project/2025/sarah.simion/pic4.webp
  website/versioned_docs/version-fils_en/project/2025/sarah.simion/pic5.webp
  website/versioned_docs/version-fils_en/project/2025/sarah.simion/schematic.svg
Labels: fils_en, website, project

#222 Project/sofia.huzan: Hardware update
  website/versioned_docs/version-fils_en/project/2025/sofia.huzan/arch.svg
  website/versioned_docs/version-fils_en/project/2025/sofia.huzan/back.webp
  website/versioned_docs/version-fils_en/project/2025/sofia.huzan/front.webp
  website/versioned_docs/version-fils_en/project/2025/sofia.huzan/index.md
  website/versioned_docs/version-fils_en/project/2025/sofia.huzan/keyboard.webp
  website/versioned_docs/version-fils_en/project/2025/sofia.huzan/kicad.svg
  website/versioned_docs/version-fils_en/project/2025/sofia.huzan/kicad.webp
  website/versioned_docs/version-fils_en/project/2025/sofia.huzan/motor.webp
  website/versioned_docs/version-fils_en/project/2025/sofia.huzan/rear.webp
  website/versioned_docs/version-fils_en/project/2025/sofia.huzan/top.webp
Labels: fils_en, website, project

#242 Hardware
  website/versioned_docs/version-fils_en/project/2025/rares.ciortan/Poza_Bomba_1.webp
  website/versioned_docs/version-fils_en/project/2025/rares.ciortan/Poza_Bomba_2.webp
  website/versioned_docs/version-fils_en/project/2025/rares.ciortan/index.md
  website/versioned_docs/version-fils_en/project/2025/rares.ciortan/kicad_project.svg
Labels: fils_en, website, project

#100 Updated the documentation and added photos of the device.
  website/versioned_docs/version-acs_cc/project/2025/eugen_andrei.echim/Diagrama.webp
  website/versioned_docs/version-acs_cc/project/2025/eugen_andrei.echim/Photo1.webp
  website/versioned_docs/version-acs_cc/project/2025/eugen_andrei.echim/Photo2.webp
  website/versioned_docs/version-acs_cc/project/2025/eugen_andrei.echim/Schema_Kicad.svg
  website/versioned_docs/version-acs_cc/project/2025/eugen_andrei.echim/Schema_Kicad.webp
  website/versioned_docs/version-acs_cc/project/2025/eugen_andrei.echim/index.md
Labels: acs_cc, website, project

#209 Added hardware documentation
  website/versioned_docs/version-fils_en/project/2025/rares_andrei.herghelegiu/IMG.webp
  website/versioned_docs/version-fils_en/project/2025/rares_andrei.herghelegiu/index.md
  website/versioned_docs/version-fils_en/project/2025/rares_andrei.herghelegiu/schem.svg
Labels: fils_en, website, project

#207 Add Hardware Milestone update
  website/versioned_docs/version-fils_en/project/2025/razvan.beldie/Angle1.webp
  website/versioned_docs/version-fils_en/project/2025/razvan.beldie/Angle2.webp
  website/versioned_docs/version-fils_en/project/2025/razvan.beldie/Angle3.webp
  website/versioned_docs/version-fils_en/project/2025/razvan.beldie/KiCad.svg
  website/versioned_docs/version-fils_en/project/2025/razvan.beldie/index.md
Labels: fils_en, website, project

#172 Milestone hardware
  website/versioned_docs/version-acs_cc/project/2025/david_andrei.dobrin/hard1.webp
  website/versioned_docs/version-acs_cc/project/2025/david_andrei.dobrin/hard2.webp
  website/versioned_docs/version-acs_cc/project/2025/david_andrei.dobrin/hard3.webp
  website/versioned_docs/version-acs_cc/project/2025/david_andrei.dobrin/index.md
  website/versioned_docs/version-acs_cc/project/2025/david_andrei.dobrin/kiCad.webp
  website/versioned_docs/version-acs_cc/project/2025/david_andrei.dobrin/kicad_project.svg
Labels: acs_cc, website, project

#34 updated documentation
  website/versioned_docs/version-acs_cc/project/2025/florin.dinu2002/index.md
  website/versioned_docs/version-acs_cc/project/2025/florin.dinu2002/poza1.webp
  website/versioned_docs/version-acs_cc/project/2025/florin.dinu2002/poza2.webp
  website/versioned_docs/version-acs_cc/project/2025/florin.dinu2002/schematic_prj.svg
Labels: acs_cc, website, project

#80 Hardware Milestone
  website/versioned_docs/version-acs_cc/project/2025/dragos.boncan/KICAD_schematic.svg
  website/versioned_docs/version-acs_cc/project/2025/dragos.boncan/Kicad_schematics.svg
  website/versioned_docs/version-acs_cc/project/2025/dragos.boncan/Poza_butonreset.webp
  website/versioned_docs/version-acs_cc/project/2025/dragos.boncan/Poza_ecran.webp
  website/versioned_docs/version-acs_cc/project/2025/dragos.boncan/block_scheme.svg
  website/versioned_docs/version-acs_cc/project/2025/dragos.boncan/hardware.webp
  website/versioned_docs/version-acs_cc/project/2025/dragos.boncan/hardware_overall.webp
  website/versioned_docs/version-acs_cc/project/2025/dragos.boncan/image1.svg
  website/versioned_docs/version-acs_cc/project/2025/dragos.boncan/incuietoare.webp
  website/versioned_docs/version-acs_cc/project/2025/dragos.boncan/index.md
Labels: acs_cc, website, project

#75 Project/octavian.cretu hardware
  website/versioned_docs/version-fils_en/project/2025/octavian.cretu/KICAD-Schematic.webp
  website/versioned_docs/version-fils_en/project/2025/octavian.cretu/Schematic.svg
  website/versioned_docs/version-fils_en/project/2025/octavian.cretu/hardware_1.webp
  website/versioned_docs/version-fils_en/project/2025/octavian.cretu/hardware_2.webp
  website/versioned_docs/version-fils_en/project/2025/octavian.cretu/hardware_3.webp
  website/versioned_docs/version-fils_en/project/2025/octavian.cretu/hardware_4.webp
  website/versioned_docs/version-fils_en/project/2025/octavian.cretu/index.md
Labels: fils_en, website, project

#186 project/stefan.mihaila
  website/versioned_docs/version-acs_cc/project/2025/stefan.mihaila/Kicad_schematic.svg
  website/versioned_docs/version-acs_cc/project/2025/stefan.mihaila/Poza_Proiect_1.webp
  website/versioned_docs/version-acs_cc/project/2025/stefan.mihaila/Poza_Proiect_2.webp
  website/versioned_docs/version-acs_cc/project/2025/stefan.mihaila/Poza_Proiect_3.webp
  website/versioned_docs/version-acs_cc/project/2025/stefan.mihaila/index.md
Labels: acs_cc, website, project

#166 Mohamed.Daoudo/Hardware-Milestone
  website/versioned_docs/version-fils_en/project/2025/mohamed.daoudo/Carmdf.webp
  website/versioned_docs/version-fils_en/project/2025/mohamed.daoudo/Ki_Cad.svg
  website/versioned_docs/version-fils_en/project/2025/mohamed.daoudo/Schematicmdf.webp
  website/versioned_docs/version-fils_en/project/2025/mohamed.daoudo/cargo.webp
  website/versioned_docs/version-fils_en/project/2025/mohamed.daoudo/cargo1.webp
  website/versioned_docs/version-fils_en/project/2025/mohamed.daoudo/cargo2.webp
  website/versioned_docs/version-fils_en/project/2025/mohamed.daoudo/carlvmdf.webp
  website/versioned_docs/version-fils_en/project/2025/mohamed.daoudo/index.md
Labels: fils_en, website, project

#201 Am adaugat imaginile necesare
  website/versioned_docs/version-acs_cc/project/2025/darius.popescu2812/img1.webp
  website/versioned_docs/version-acs_cc/project/2025/darius.popescu2812/img2.webp
  website/versioned_docs/version-acs_cc/project/2025/darius.popescu2812/index.md
  website/versioned_docs/version-acs_cc/project/2025/darius.popescu2812/schematic.svg
Labels: acs_cc, website, project

#134 Project/razvan.mihaescu: Hardware Milestone
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/bmp280.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/buzzer.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/fan1.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/fan_starting.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/flame_and_fan.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/flame_detection.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/flame_sensor.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/hello_world.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/index.md
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/mq7.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/proiect_pm.svg
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/rtc1.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/rtc2.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/screen.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/sound_sensor.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/test1.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/test2.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/test3.webp
  website/versioned_docs/version-acs_cc/project/2025/razvan.mihaescu/uv_sensor.webp
Labels: acs_cc, website, project

#299 hardware
  website/versioned_docs/version-fils_en/project/2025/alexandra.piciu/im1.webp
  website/versioned_docs/version-fils_en/project/2025/alexandra.piciu/im2.webp
  website/versioned_docs/version-fils_en/project/2025/alexandra.piciu/im3.webp
  website/versioned_docs/version-fils_en/project/2025/alexandra.piciu/im4.webp
  website/versioned_docs/version-fils_en/project/2025/alexandra.piciu/im5.webp
  website/versioned_docs/version-fils_en/project/2025/alexandra.piciu/index.md
  website/versioned_docs/version-fils_en/project/2025/alexandra.piciu/kicad.svg
  website/versioned_docs/version-fils_en/project/2025/alexandra.piciu/pini.webp
Labels: fils_en, website, project

#35 Updated documentation
  website/versioned_docs/version-fils_en/project/2025/ioana.deaconu/index.md
  website/versioned_docs/version-fils_en/project/2025/ioana.deaconu/project.svg
  website/versioned_docs/version-fils_en/project/2025/ioana.deaconu/project_photo1.webp
Labels: fils_en, website, project

#32 Updated docs: Removed joystick, changed buttons, diagrams, logs
  website/versioned_docs/version-acs_cc/project/2025/alexandru.grecu2711/architecture.svg
  website/versioned_docs/version-acs_cc/project/2025/alexandru.grecu2711/architecture.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandru.grecu2711/console.svg
  website/versioned_docs/version-acs_cc/project/2025/alexandru.grecu2711/console.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandru.grecu2711/controller.svg
  website/versioned_docs/version-acs_cc/project/2025/alexandru.grecu2711/controller.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandru.grecu2711/index.md
Labels: acs_cc, website, project

#96 Hardware milestone
  website/versioned_docs/version-fils_en/project/2025/diana.juverdeanu/assets/hardware1.webp
  website/versioned_docs/version-fils_en/project/2025/diana.juverdeanu/assets/hardware2.webp
  website/versioned_docs/version-fils_en/project/2025/diana.juverdeanu/assets/kicadscheme.svg
  website/versioned_docs/version-fils_en/project/2025/diana.juverdeanu/assets/schema1v2.webp
  website/versioned_docs/version-fils_en/project/2025/diana.juverdeanu/assets/schema2v2.webp
  website/versioned_docs/version-fils_en/project/2025/diana.juverdeanu/index.md
Labels: fils_en, website, project

#23 Fixed ambiguity in raise issue
  slides/lectures/resources/mpu_rp2040/slides.md
Labels: slides

#69 Moving to github
  website/versioned_docs/version-fils_en/project/2025/vlad.preda2503/hardware1.1.webp
  website/versioned_docs/version-fils_en/project/2025/vlad.preda2503/hardware1.webp
  website/versioned_docs/version-fils_en/project/2025/vlad.preda2503/hardware2.1.webp
  website/versioned_docs/version-fils_en/project/2025/vlad.preda2503/hardware2.webp
  website/versioned_docs/version-fils_en/project/2025/vlad.preda2503/hardware3.1.webp
  website/versioned_docs/version-fils_en/project/2025/vlad.preda2503/hardware3.webp
  website/versioned_docs/version-fils_en/project/2025/vlad.preda2503/index.md
  website/versioned_docs/version-fils_en/project/2025/vlad.preda2503/schematic.svg
  website/versioned_docs/version-fils_en/project/2025/vlad.preda2503/schematic.webp
Labels: fils_en, website, project

#76 Hardware Milestone Update
  website/versioned_docs/version-acs_cc/project/2025/mihai.ionescu0210/images/Schematic.svg
  website/versioned_docs/version-acs_cc/project/2025/mihai.ionescu0210/index.md
Labels: acs_cc, website, project

#94 amalia.grumazescu hardware
  website/versioned_docs/version-acs_cc/project/2025/amalia.grumazescu/amalia_poza1.webp
  website/versioned_docs/version-acs_cc/project/2025/amalia.grumazescu/amalia_poza2.webp
  website/versioned_docs/version-acs_cc/project/2025/amalia.grumazescu/amalia_poza3.webp
  website/versioned_docs/version-acs_cc/project/2025/amalia.grumazescu/index.md
  website/versioned_docs/version-acs_cc/project/2025/amalia.grumazescu/schema_amalia.svg
  website/versioned_docs/version-acs_cc/project/2025/amalia.grumazescu/schema_amalia.webp
Labels: acs_cc, website, project

#95 Don't Touch The Spikes
  website/versioned_docs/version-fils_en/project/2025/andreea.simion1604/hardware1.webp
  website/versioned_docs/version-fils_en/project/2025/andreea.simion1604/hardware111.webp
  website/versioned_docs/version-fils_en/project/2025/andreea.simion1604/index.md
  website/versioned_docs/version-fils_en/project/2025/andreea.simion1604/kicad.svg
  website/versioned_docs/version-fils_en/project/2025/andreea.simion1604/scheme111.webp
Labels: fils_en, website, project

#82 Project/stefan adrian.brai
  website/versioned_docs/version-acs_cc/project/2025/stefan_adrian.brai/Pic1.webp
  website/versioned_docs/version-acs_cc/project/2025/stefan_adrian.brai/Pic2.webp
  website/versioned_docs/version-acs_cc/project/2025/stefan_adrian.brai/Proiect_PM.svg
  website/versioned_docs/version-acs_cc/project/2025/stefan_adrian.brai/index.md
Labels: acs_cc, website, project

#112 Project/alexia andra.mihai
  website/versioned_docs/version-acs_cc/project/2025/alexia_andra.mihai/index.md
  website/versioned_docs/version-acs_cc/project/2025/alexia_andra.mihai/poza1.webp
  website/versioned_docs/version-acs_cc/project/2025/alexia_andra.mihai/poza2.webp
  website/versioned_docs/version-acs_cc/project/2025/alexia_andra.mihai/poza3.webp
  website/versioned_docs/version-acs_cc/project/2025/alexia_andra.mihai/poza4.webp
  website/versioned_docs/version-acs_cc/project/2025/alexia_andra.mihai/pulsebeats-schematic.svg
Labels: acs_cc, website, project

#137 Project/andrei.stefanescu04
  website/versioned_docs/version-fils_en/project/2025/andrei.stefanescu04/hardware_pic1.webp
  website/versioned_docs/version-fils_en/project/2025/andrei.stefanescu04/hardware_pic2.webp
  website/versioned_docs/version-fils_en/project/2025/andrei.stefanescu04/index.md
  website/versioned_docs/version-fils_en/project/2025/andrei.stefanescu04/kicad_schematic.svg
  website/versioned_docs/version-fils_en/project/2025/andrei.stefanescu04/kicad_schematic.webp
Labels: fils_en, website, project

#155 Project/ianis.armencea
  website/versioned_docs/version-acs_cc/project/2025/ianis.armencea/hardware_1.webp
  website/versioned_docs/version-acs_cc/project/2025/ianis.armencea/hardware_2.webp
  website/versioned_docs/version-acs_cc/project/2025/ianis.armencea/hardware_3.webp
  website/versioned_docs/version-acs_cc/project/2025/ianis.armencea/index.md
  website/versioned_docs/version-acs_cc/project/2025/ianis.armencea/pm_schematic.svg
  website/versioned_docs/version-acs_cc/project/2025/ianis.armencea/schematic.webp
Labels: acs_cc, website, project

#160 Project/daria_maria.ion
  website/versioned_docs/version-acs_cc/project/2025/daria_maria.ion/index.md
  website/versioned_docs/version-acs_cc/project/2025/daria_maria.ion/poza1.webp
  website/versioned_docs/version-acs_cc/project/2025/daria_maria.ion/poza2.webp
  website/versioned_docs/version-acs_cc/project/2025/daria_maria.ion/schematic.svg
Labels: acs_cc, website, project

#161 Project/andrei.stan0605 hardware milestone
  website/versioned_docs/version-acs_cc/project/2025/andrei.stan0605/CollectorAggregatorDiagram.svg
  website/versioned_docs/version-acs_cc/project/2025/andrei.stan0605/DiagramaConcept.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.stan0605/ProiectBreadboard.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.stan0605/ProiectNodSenzor.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.stan0605/ProiectToateNodurile.webp
  website/versioned_docs/version-acs_cc/project/2025/andrei.stan0605/SensorDiagram.svg
  website/versioned_docs/version-acs_cc/project/2025/andrei.stan0605/index.md
Labels: acs_cc, website, project

#190 Project/vicentiu.duta
  website/versioned_docs/version-acs_cc/project/2025/vicentiu.duta/index.md
  website/versioned_docs/version-acs_cc/project/2025/vicentiu.duta/poza_cabina.webp
  website/versioned_docs/version-acs_cc/project/2025/vicentiu.duta/poza_circuit.webp
  website/versioned_docs/version-acs_cc/project/2025/vicentiu.duta/poza_lift.webp
  website/versioned_docs/version-acs_cc/project/2025/vicentiu.duta/schematic.svg
Labels: acs_cc, website, project

#187 Updated Hardware Documentation
  website/versioned_docs/version-acs_cc/project/2025/george.plai/hardware.webp
  website/versioned_docs/version-acs_cc/project/2025/george.plai/index.md
  website/versioned_docs/version-acs_cc/project/2025/george.plai/working_hardware.webp
Labels: acs_cc, website, project

#48 tudor_andrei.cretu Hardware
  website/versioned_docs/version-acs_cc/project/2025/tudor_andrei.cretu/index.md
  website/versioned_docs/version-acs_cc/project/2025/tudor_andrei.cretu/poza1.webp
  website/versioned_docs/version-acs_cc/project/2025/tudor_andrei.cretu/poza2.webp
  website/versioned_docs/version-acs_cc/project/2025/tudor_andrei.cretu/poza3.webp
  website/versioned_docs/version-acs_cc/project/2025/tudor_andrei.cretu/poza4.webp
  website/versioned_docs/version-acs_cc/project/2025/tudor_andrei.cretu/schematic_cretu_tudor.svg
  website/versioned_docs/version-acs_cc/project/2025/tudor_andrei.cretu/schematic_cretu_tudor.webp
Labels: acs_cc, website, project

#105 SmartRide modifications and hardware update
  website/versioned_docs/version-fils_en/project/2025/andra.popovici/fuf.webp
  website/versioned_docs/version-fils_en/project/2025/andra.popovici/fuf1.webp
  website/versioned_docs/version-fils_en/project/2025/andra.popovici/fuf2.webp
  website/versioned_docs/version-fils_en/project/2025/andra.popovici/fuf3.webp
  website/versioned_docs/version-fils_en/project/2025/andra.popovici/fuf4.webp
  website/versioned_docs/version-fils_en/project/2025/andra.popovici/index.md
  website/versioned_docs/version-fils_en/project/2025/andra.popovici/sadf.webp
Labels: fils_en, website, project

#189 Am adaugat pozele cu hardware-ul, am actualizat kicad ul si diagrama
  website/versioned_docs/version-acs_cc/project/2025/lavinia.tudor0603/diagr.svg
  website/versioned_docs/version-acs_cc/project/2025/lavinia.tudor0603/diagr_resized.webp
  website/versioned_docs/version-acs_cc/project/2025/lavinia.tudor0603/index.md
  website/versioned_docs/version-acs_cc/project/2025/lavinia.tudor0603/pm.svg
  website/versioned_docs/version-acs_cc/project/2025/lavinia.tudor0603/poza1.webp
  website/versioned_docs/version-acs_cc/project/2025/lavinia.tudor0603/poza2.webp
  website/versioned_docs/version-acs_cc/project/2025/lavinia.tudor0603/poza3.webp
Labels: acs_cc, website, project

#159 Uploaded hardware update
  website/versioned_docs/version-acs_cc/project/2025/izabela.apostu/hardware1.webp
  website/versioned_docs/version-acs_cc/project/2025/izabela.apostu/hardware2.webp
  website/versioned_docs/version-acs_cc/project/2025/izabela.apostu/index.md
  website/versioned_docs/version-acs_cc/project/2025/izabela.apostu/schematic.webp
  website/versioned_docs/version-acs_cc/project/2025/izabela.apostu/schematic_final.svg
Labels: acs_cc, website, project

#163 Jalessha code
  website/versioned_docs/version-fils_en/project/2025/jaleesha.abbas/Architecture.webp
  website/versioned_docs/version-fils_en/project/2025/jaleesha.abbas/one.webp
  website/versioned_docs/version-fils_en/project/2025/jaleesha.abbas/resized_two.webp
  website/versioned_docs/version-fils_en/project/2025/jaleesha.abbas/schematic.svg
Labels: fils_en, website, project

#113 Hardware Edit
  website/versioned_docs/version-fils_en/project/2025/andreea.danaila/connections.webp
  website/versioned_docs/version-fils_en/project/2025/andreea.danaila/hardware.webp
  website/versioned_docs/version-fils_en/project/2025/andreea.danaila/index.md
  website/versioned_docs/version-fils_en/project/2025/andreea.danaila/proiect.svg
Labels: fils_en, website, project

#71 Project/aida.vladuta
  website/versioned_docs/version-fils_en/project/2025/aida.vladuta/KiCad.svg
  website/versioned_docs/version-fils_en/project/2025/aida.vladuta/index.md
  website/versioned_docs/version-fils_en/project/2025/aida.vladuta/picture1.webp
  website/versioned_docs/version-fils_en/project/2025/aida.vladuta/picture2.webp
  website/versioned_docs/version-fils_en/project/2025/aida.vladuta/picture3.webp
Labels: fils_en, website, project

#280 Hardware Milestone
  website/versioned_docs/version-acs_cc/project/2025/alin_ion.savu/Pet-AutoFeeder.svg
  website/versioned_docs/version-acs_cc/project/2025/alin_ion.savu/index.md
  website/versioned_docs/version-acs_cc/project/2025/alin_ion.savu/poza1.webp
  website/versioned_docs/version-acs_cc/project/2025/alin_ion.savu/poza2.webp
  website/versioned_docs/version-acs_cc/project/2025/alin_ion.savu/poza3.webp
Labels: acs_cc, website, project

#233 project/mihai.pacuraru
  website/versioned_docs/version-acs_cc/project/2025/mihai.pacuraru/demo.webp
  website/versioned_docs/version-acs_cc/project/2025/mihai.pacuraru/index.md
  website/versioned_docs/version-acs_cc/project/2025/mihai.pacuraru/schematic.svg
Labels: acs_cc, website, project

#85 Documentatie actualizata - Ramona
  website/versioned_docs/version-acs_cc/project/2025/elena_ramona.tanase/diagrama_PM.webp
  website/versioned_docs/version-acs_cc/project/2025/elena_ramona.tanase/index.md
  website/versioned_docs/version-acs_cc/project/2025/elena_ramona.tanase/parcare1.webp
  website/versioned_docs/version-acs_cc/project/2025/elena_ramona.tanase/parcare2.webp
  website/versioned_docs/version-acs_cc/project/2025/elena_ramona.tanase/parcare3.webp
  website/versioned_docs/version-acs_cc/project/2025/elena_ramona.tanase/parcare4.webp
  website/versioned_docs/version-acs_cc/project/2025/elena_ramona.tanase/schematic.svg
  website/versioned_docs/version-acs_cc/project/2025/elena_ramona.tanase/schematic.webp
Labels: acs_cc, website, project

#223 Documentation Update
  website/versioned_docs/version-fils_en/project/2025/andrei_liviu.dobrin/1.webp
  website/versioned_docs/version-fils_en/project/2025/andrei_liviu.dobrin/2.webp
  website/versioned_docs/version-fils_en/project/2025/andrei_liviu.dobrin/3.webp
  website/versioned_docs/version-fils_en/project/2025/andrei_liviu.dobrin/4.webp
  website/versioned_docs/version-fils_en/project/2025/andrei_liviu.dobrin/5.webp
  website/versioned_docs/version-fils_en/project/2025/andrei_liviu.dobrin/KiCad.svg
  website/versioned_docs/version-fils_en/project/2025/andrei_liviu.dobrin/index.md
Labels: fils_en, website, project

#144 project/roi_bachynskyi Hardware Milestone
  website/versioned_docs/version-fils_en/project/2025/roi.bachynskyi/hardware_1.webp
  website/versioned_docs/version-fils_en/project/2025/roi.bachynskyi/hardware_2.webp
  website/versioned_docs/version-fils_en/project/2025/roi.bachynskyi/index.md
  website/versioned_docs/version-fils_en/project/2025/roi.bachynskyi/kicad.svg
  website/versioned_docs/version-fils_en/project/2025/roi.bachynskyi/kicad.webp
Labels: fils_en, website, project

#214 Hardware documentation updated/vladyslav.kiselar
  website/versioned_docs/version-fils_en/project/2025/vladyslav.kiselar/KiCad.svg
  website/versioned_docs/version-fils_en/project/2025/vladyslav.kiselar/KiCad.webp
  website/versioned_docs/version-fils_en/project/2025/vladyslav.kiselar/architecture_diagram.webp
  website/versioned_docs/version-fils_en/project/2025/vladyslav.kiselar/hardware_components1.webp
  website/versioned_docs/version-fils_en/project/2025/vladyslav.kiselar/hardware_components2.webp
  website/versioned_docs/version-fils_en/project/2025/vladyslav.kiselar/hardware_components3.webp
  website/versioned_docs/version-fils_en/project/2025/vladyslav.kiselar/index.md
  website/versioned_docs/version-fils_en/project/2025/vladyslav.kiselar/voltage_regulator1.webp
  website/versioned_docs/version-fils_en/project/2025/vladyslav.kiselar/voltage_regulator2.webp
Labels: fils_en, website, project

#216 Project/andreea.ureche0212
  website/versioned_docs/version-acs_cc/project/2025/andreea.ureche0212/SchematicPM.svg
  website/versioned_docs/version-acs_cc/project/2025/andreea.ureche0212/index.md
  website/versioned_docs/version-acs_cc/project/2025/andreea.ureche0212/poza1.webp
  website/versioned_docs/version-acs_cc/project/2025/andreea.ureche0212/poza3.webp
  website/versioned_docs/version-acs_cc/project/2025/andreea.ureche0212/sch.webp
Labels: acs_cc, website, project

#132 Final Hardware Documentation
  website/versioned_docs/version-acs_cc/project/2025/emanuel.stiuj/bluetooth_car.svg
  website/versioned_docs/version-acs_cc/project/2025/emanuel.stiuj/car_image1.webp
  website/versioned_docs/version-acs_cc/project/2025/emanuel.stiuj/car_image2.webp
  website/versioned_docs/version-acs_cc/project/2025/emanuel.stiuj/index.md
  website/versioned_docs/version-acs_cc/project/2025/emanuel.stiuj/schematic-1.webp
  website/versioned_docs/version-acs_cc/project/2025/emanuel.stiuj/schematic.svg
Labels: acs_cc, website, project

#255 hardware add
  website/versioned_docs/version-acs_cc/project/2025/vlad.adascalului/hard1.webp
  website/versioned_docs/version-acs_cc/project/2025/vlad.adascalului/hard2.webp
  website/versioned_docs/version-acs_cc/project/2025/vlad.adascalului/hard3.webp
  website/versioned_docs/version-acs_cc/project/2025/vlad.adascalului/index.md
  website/versioned_docs/version-acs_cc/project/2025/vlad.adascalului/kicad_project.svg
Labels: acs_cc, website, project

#88 Project/alin.magureanu1502
  website/versioned_docs/version-fils_en/project/2025/alin.magureanu1502/hardware_not_tuned.webp
  website/versioned_docs/version-fils_en/project/2025/alin.magureanu1502/hardware_off.webp
  website/versioned_docs/version-fils_en/project/2025/alin.magureanu1502/hardware_tuned.webp
  website/versioned_docs/version-fils_en/project/2025/alin.magureanu1502/index.md
  website/versioned_docs/version-fils_en/project/2025/alin.magureanu1502/kicad.webp
  website/versioned_docs/version-fils_en/project/2025/alin.magureanu1502/kicad2.svg
Labels: fils_en, website, project

#288 updated documentation
  website/versioned_docs/version-acs_cc/project/2025/stefania.tudor1007/circuit.webp
  website/versioned_docs/version-acs_cc/project/2025/stefania.tudor1007/index.md
  website/versioned_docs/version-acs_cc/project/2025/stefania.tudor1007/schematicnew.svg
Labels: acs_cc, website, project

#52 project/alexandru.ghita0312
  website/versioned_docs/version-acs_cc/project/2025/alexandru.ghita0312/Architecture.svg
  website/versioned_docs/version-acs_cc/project/2025/alexandru.ghita0312/Architecture.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandru.ghita0312/Hardware_1.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandru.ghita0312/KiCad.svg
  website/versioned_docs/version-acs_cc/project/2025/alexandru.ghita0312/KiCad.webp
  website/versioned_docs/version-acs_cc/project/2025/alexandru.ghita0312/index.md
Labels: acs_cc, website, project

#282 Hardware
  website/versioned_docs/version-acs_cc/project/2025/alessia.lazar/image1.webp
  website/versioned_docs/version-acs_cc/project/2025/alessia.lazar/image2.webp
  website/versioned_docs/version-acs_cc/project/2025/alessia.lazar/image3.webp
  website/versioned_docs/version-acs_cc/project/2025/alessia.lazar/image4.webp
  website/versioned_docs/version-acs_cc/project/2025/alessia.lazar/image5.webp
  website/versioned_docs/version-acs_cc/project/2025/alessia.lazar/index.md
  website/versioned_docs/version-acs_cc/project/2025/alessia.lazar/schematic.svg
Labels: acs_cc, website, project

#37 Updated documentation
  website/versioned_docs/version-acs_cc/project/2025/vlad.gheorghita1908/Hardware.webp
  website/versioned_docs/version-acs_cc/project/2025/vlad.gheorghita1908/MIDI_Controller.svg
  website/versioned_docs/version-acs_cc/project/2025/vlad.gheorghita1908/MIDI_Controller.webp
  website/versioned_docs/version-acs_cc/project/2025/vlad.gheorghita1908/Schema_proiect.svg
  website/versioned_docs/version-acs_cc/project/2025/vlad.gheorghita1908/index.md
  website/versioned_docs/version-acs_cc/project/2025/vlad.gheorghita1908/schema.webp
Labels: acs_cc, website, project

#91 modified: versioned_docs/version-fils_en/project/2025/daniel.simpa…
  website/versioned_docs/version-fils_en/project/2025/daniel.simpalean/Hardware1.webp
  website/versioned_docs/version-fils_en/project/2025/daniel.simpalean/Hardware2.webp
  website/versioned_docs/version-fils_en/project/2025/daniel.simpalean/Hardware3.webp
  website/versioned_docs/version-fils_en/project/2025/daniel.simpalean/Hardware4.webp
  website/versioned_docs/version-fils_en/project/2025/daniel.simpalean/KiCad1.svg
  website/versioned_docs/version-fils_en/project/2025/daniel.simpalean/KiCad1.webp
  website/versioned_docs/version-fils_en/project/2025/daniel.simpalean/index.md
Labels: fils_en, website, project

#259 Project/andreea.nedelcu1212
  website/versioned_docs/version-fils_en/project/2025/andreea.nedelcu1212/breadboard.webp
  website/versioned_docs/version-fils_en/project/2025/andreea.nedelcu1212/index.md
  website/versioned_docs/version-fils_en/project/2025/andreea.nedelcu1212/kicad_scheme.svg
  website/versioned_docs/version-fils_en/project/2025/andreea.nedelcu1212/wide.webp
Labels: fils_en, website, project

#261 Hardware Milestone Commit
  website/versioned_docs/version-fils_en/project/2025/gspiridon/final_hardware2.webp
  website/versioned_docs/version-fils_en/project/2025/gspiridon/index.md
  website/versioned_docs/version-fils_en/project/2025/gspiridon/kicad.svg
Labels: fils_en, website, project
